.content {
  margin: 10px;
  width: 95%;
  border-collapse: collapse;
}

.content td, .content th {
  vertical-align: top;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.content th {
  background: #f3f3f3;
  font: bold 18px Arial;
}

.content .selector {
  font: 13px/1.5 Arial;
  color: #777;
}

.content .property {
  font: 11px/1.5 Arial;
}

.content .property a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}
.content .property .css-property {
  color: #000080;
}

.content .property .css-rule {
  color: #b61039;
}

.content .property .css .rules {
  display: none;
}
